{% extends "base.html" %}

{% block custom_header_files %}
<link href="static/index.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" action="{{ url_for('timeline') }}" method="post" name="RecipeInputForm">
          <div class="form-group">
            <label for="recipe" class="col-sm-2 control-label">Recipe URL:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control recipeUrlInput" name="recipe" placeholder="allrecipes.com recipes only, please">
            </div>
          </div>
          <div class="form-group" id="button-div">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="button" class="btn btn-default col-xs-12" id="add_row_button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <div class="form-group">
            <label for="stoves" class="col-sm-2 control-label">Stoves:</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" name="stove_number">
            </div>
            <label for="stoves" class="col-sm-2 control-label">Ovens:</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" name="oven_number">
            </div>
          </div>
          <div class="form-group">
            <label for="finish_time" class="col-sm-2 control-label">Dinner Time:</label>
            <div class="col-sm-10">
              <input type="datetime-local" class="form-control" name="finish_time">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Go</button>
            </div>
          </div>
        </form>
    </div>

{% endblock %}

{% block custom_footer_files %}
<script>
$('#add_row_button').click(function(){
  html_to_add = '<div class="form-group"><label for="recipe" class="col-sm-2 control-label">Recipe URL:</label><div class="col-xs-10 col-sm-8"><input type="text" class="form-control recipeUrlInput" name="recipe" placeholder="allrecipes.com recipes only, please"/></div><div class="col-xs-2"><button type="button" class="btn btn-default col-sm-12 delete_row_button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></div></div>';
  $(html_to_add).insertBefore($('#button-div'));
  $('.delete_row_button').click(function(){
    $('.form-group').has($(this)).remove();
  })
})
</script>
{% endblock %}