{% extends "base.html" %}

{% block custom_header_files %}
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}"></script>
{% endblock %}
{% block content_outside %}

<div class="col-md-12" id="timeline">  
    <div>
        <div></div>
    </div>
</div>
{% endblock %}

{% block custom_footer_files %}
<script type="text/javascript">
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Recipe' });
        dataTable.addColumn({ type: 'string', id: 'Direction' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows([
          {% for recipe in timeline.recipes %}
            {% for direction in recipe.directions %}
              [ "{{ recipe.rID }}", "{{ direction.text }}", new Date({{ direction.start }}),
                new Date({{ direction.end }})],
            {% endfor %}
          {% endfor %}



          ]);
        var options = {
          timeline: {colorByRowLabel:true, showRowLabels: true },
        };
        chart.draw(dataTable, options);
      }
    </script>
{% endblock %}