{% extends "base.html" %}

{% block custom_header_files %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}

{% block content %}

<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1" id="timeline">  
    <div style="width: 100%">
        <div></div>
    </div>
</div>
{% endblock %}

{% block custom_footer_files %}
<script type="text/javascript">
      google.load("visualization", "1", {packages:["timeline"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Recipe' });
        dataTable.addColumn({ type: 'string', id: 'Direction' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows([
          {% for recipe in timeline.recipes %}
            {% for direction in recipe.directions %}
              [ "{{ recipe.rID }}", "{{ direction.text }}", new Date({{ direction.start }}),
                new Date({{ direction.end }})],
            {% endfor %}
          {% endfor %}



          ]);
        var options = {
          timeline: { showRowLabels: true },
          avoidOverlappingGridLines: true
        };
        chart.draw(dataTable, options);
      }
    </script>
{% endblock %}